body{
    margin: 0;
}
.block2{
    width: 100vw;
    height: 100vh;
}
.center{
    flex-direction: column;
}
.header2, .contentLeft2, .content2_1, .content2_2, .contentRight2, .footer2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2{
    height: 22vh;
    background-color: #D9D9D9;
}
.contents2{
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentLeft2{
    width: 19vw;
    height: 56vh;
    background-color: #817C7C;
}
.content2_1, .content2_2{
    width: 63vw;
    height: 28vh;
}
.content2_1{
    background-color: #ABA8A8;
}
.content2_2{
    background-color: #878484;
}
.contentRight2{
    width: 18vw;
    height: 56vh;
    background-color: #B7AEAE;
}
.footer2{
    height: 22vh;
    background-color: #BDBDBD;
}