body{
    margin: 0;
}
.blocks{
    width: 100vw;
    background-color: #19191B;
}
header{
    height: 10vh;
    background-color: #505027;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerLogo{
    width: 25vw;
    display: flex;
}
.headerLogo div p{
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 0 8px;
}
header a{
    text-decoration: none;
    font-family: "Lato", sans-serif;

    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.70);
    margin: 20px;
}
#button1{
    width: 157px;
    height: 44px;
    border-radius: 5px;
    border: 1px solid #FFF;
    background-color: #19191B;
}
#button1{
    color: #FFF;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.block1{
    width: 100vw;
    height: 100vh;
    background-color: #594434;
    display: flex;
}

.left .right{
    width: 50vw;
    height: 100vh;
}
.left{
    background-color: #d5a888;
    margin-left: 5vw;
    width: 40vw;
}
#button2{
    width: 12vw;
    height: 7vh;
    background-color: #5454D4;
    border-radius: 4px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    align-items: center;
}
.right img{
    width: 45vw;
    height: 75vh;
    margin-bottom: 70px;
}
.title1{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 80px;
    font-weight: 400;
    width: 40vw;
}
.title1 p{
    margin: 10vh 0 3vh 0;
}
.text1{
    color: rgba(255, 255, 255, 0.70);
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.657px;
    width: 40vw;
}
.text1 p{
    margin-bottom: 3vh;
}
.block2{
    width: 100vw;
    height: 20vh;
    background-color: #56291e;
    display: flex;
}
.right1, .left1{
    width: 45vw;
    height: 25vh;
}
.text2 p{
    color: rgba(255, 255, 255, 0.70);
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-weight: 400;
    width: 45vw;
    margin: 0;
}
.title2 p{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 400;
    width: 40vw;
    margin: 0 0 5vh 5vw;
}
.block3{
    width: 100vw;
    height: 100vh;
    background-color: #563f44;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
}
.block3 img{
    width: 90vw;
    height: 80vh;
}
.block3 p{
    color: #FFF;
    font-family: "Lato", sans-serif;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}



