.listCard1, .listCard2{
    display: flex;

}
.card1, .card2, .card3, .card4, .card5, .card6,.cardA, .cardB, .cardC, .cardC, .cardD, .cardE, .cardF{
    background-color: #f1efef;
    font-size: 28px;
    width: 60px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2, .card3, .card4, .cardA, .cardD,.cardF{
    color: red;
}